<div class="course">
    <h4>Error 404</h4>
    <p>Page not found</p>
    <a href="/">Go to main page</a>
    <img width="500" height="400" src="https://cdn.dribbble.com/users/156849/screenshots/3474589/404-error-2.gif"
        alt="code 404">
</div>